.graphBody {
  margin-top: header;
}

.hamburger_hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  /* set space of hamburger_menu button */
  .menu_Bt {
    display: flex;
    right: 0%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    cursor: pointer;
  }

  .menu_Bt span,
  .menu_Bt span:before,
  .menu_Bt span:after {
    content: "";
    display: fixed;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  .menu_Bt span:before {
    bottom: 8px;
  }

  .menu_Bt span:after {
    top: 8px;
  }

  .contents {
    display: flex;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: 0.5s;
  }

  #hamburger_check:checked ~ .contents {
    left: 60%;
  }
}

@media screen and (min-width: 501px) {
  .graphs {
    display: flex;
    width: auto;
    height: 100%;
    max-width: 70%;
    clear: both;
    display: block;
  }

  .contents {
    display: flex;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 70%;
    z-index: 99;
    background: #fff;
  }
}
